button{
    background-color:rgb(22, 82, 17);
    border: none;
    height:60px;
  
    color: white;
  
    font-weight: bold;
    border-radius: 5px;
    transition:all 0.2s ;
    display: flex;
    flex-direction: column-reverse;
    margin: 15px;

}
#button {
    display: flex;
    
}

body{
    background: linear-gradient(120deg, #36a3d1, #1711d1);
}
    
