img{
    width: 20rem;
  }
  
  h1, h2 {
   
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
  }
  
  body {
    background: linear-gradient(120deg, #49c92c, #2e3abf);
    
  }
  
  li {
  font-family: 50px;
  }